.chat-main__message-list__message-box{data: {message: {id: message.id}}}
  .chat-main__message-list__message-box__info
    .username
      = message.user.name
    .daydata
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__message-box__message
    - if message.content.present?
      %p.comment
        = message.content
    = image_tag message.image.url, class: 'Message_image' if message.image.present?