.side-bar
  .side-bar__username
    .side-bar__username__name
      %h3.side-bar__username__name__first-name
        masa
      %ul.side-bar__username__name__icon
        %li.side-bar__username__name__icon__new-group
          = link_to "#" do
            = icon('far' , 'edit')
        %li.side-bar__username__name__icon__accout
          = link_to "#" do
            = icon('fas', "cog")

        
  .side-bar__group-list
    .side-bar__group-list__group
      techcamp
      .side-bar__group-list__group__name
        まだメッセージがありません
    .side-bar__group-list__group
      techcamp
      .side-bar__group-list__group__name
        まだメッセージがありません
    .side-bar__group-list__group
      techcamp
      .side-bar__group-list__group__name
        まだメッセージがありません
