.wrapper{
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  &__username{
    height: 100px;
    background-color: #253141;
    align-items: center;
    padding: 0 20px;
    display: flex;
    &__name{
      height: 20px;
      width: 260px;
      justify-content: space-between;
      display: flex;
      &__first-name{
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
      }
      &__icon{
        display: flex;
        justify-content: end;
        &__new-group{
          margin-left: 5px;
          a {
            color: #ffffff;
          }
        }
        &__accout{
          margin-left: 5px;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0  20px;
    color: #ffffff;
    &__group{
      box-sizing: border-box;
      padding: 20px 0 40px;
      font-size: 15px;
      font-weight: bold;
      &__name{
        font-size: 11px;
      }
    }
  }
}  
.chat-main{
  width: calc(100vw - 300px);
  &__group-info{
  height: 100px;
  background-color: #ffffff;
  border-bottom: solid 1px #eeeeee;
  padding: 0 40px;
  justify-content: space-between;
  display: flex;
    &__group{
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
    }
      &__member{
      margin-top: 15px;
      display: flex;
      color: #999999;
      font-size: 12px;
        &__name{
          padding-right: 5px;
        }
    }
    &__edit{
      height: 40px;
      display: block;
      .edit{
        text-decoration: none;
        color: #38aef0;
        padding: 0 20px;
        border: 1px solid #38aef0;
        height: 40px;
        display: block;
        line-height: 40px;
        margin-top: 28px;
      }
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px 0;
    box-sizing: border-box;
    &__message-box{
      margin-bottom: 46px;
      &__info{
      display: flex;
        .username{
        font-size: 16px;
        color: #333333;
        }
        .daydata{
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
        }
      }
      &__message{
        margin-top: 12px;
        .comment{
          color: #434A54;
          font-size: 14px;
        }
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 50px 20px 40px;
    display: flex;
    &__message-room{
      width: 100%;
      background-color: #fff;
      height: 50px;
      position: relative;
      display: flex;
      .room_text{
        border: none;
        padding: 0 45px 0 15px;
        width: 100%;
        height: 50px;
      }
      .input-box__image{
        height: 50px;
        right: 10px;
        font-size: 25px;
        position: absolute;
        line-height: 50px;
      }
      .input-box__imagefile{
        display: none;
      }
    }
    .submit{
      border: none;
      color: #fff;
      background-color: #38AEF0;
      font-size: 16px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
    }
  }
}

